---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.banner-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

