---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.banner-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.oneThird{
  width:30%;
  float:left;
  margin:.5%;
}
.oneThird img{
  width:100%;
}

.square {
  width: 250px;
  height: 250px;
  float: left;
}

.img{
  height: 250px;
  width: 250px;
  object-fit: contain;
}

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

%instructor-profile {
  display: block;
  float: left;
  height: 210px;

  @media screen and (min-width: 676px) {
      height: 130px;
  }

  img {
      border-radius: 50%;
      float: left;
      object-fit: cover;
      height: 100px;
      width: 100px;
      margin-right: 10px;
  }

  ul.instructor-info {
      display: block;
      float: left;
      list-style-type: none;
      padding-left: 0;
      width: 65%;
      width: -webkit-calc(100% - 130px);
      width: calc(100% - 130px);
      min-width: 210px;

      a {
          color: $theme-color;
          &:hover {
              text-decoration: underline;
          }
      }

      span {
          font-weight: 400;
      }
  }
}
.instructor-profile-two-col {
  @extend %instructor-profile;
  width: 50%;
}
.instructor-profile-three-col {
  @extend %instructor-profile;
  width: 33%;
}

